/*
Theme Name:     WS Child
Description:
Author:         salt
Template:       travelify

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('library/font/MYRIADPROREGULAR.woff');
}

@font-face {
    font-family: Truenorth;
    src: url('library/font/truenorth.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'American Typewriter';
    src: url('library/font/AmericanTypewriter.ttf');
    font-weight: normal;
}
@font-face {
    font-family: CandL;
    src: url('library/font/champagnelimousines.ttf');
    font-weight: normal;
}

html,body,div,object,iframe,h1,h2,h3,h4,h5,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border: 0;
	font-family: 'Truenorth';
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Truenorth";  
}
p {
  font-family: "American Typewriter", monospace;
	margin: 0px;
}
strong {
  font-family: 'Truenorth';
  font-weight: bold;
	font-size: 17px;
}
a {
	color: #000 !important;
}
a:hover {
	color: #c9a978 !important;
}
/*
Custom css
*/
.stamp {
	width: 10%;
	padding-left: 76%;
	margin-top: -6%;
	z-index: 1;
}
.entry-meta .author:before {
    content: '\f304';
}
.vc_col-sm-4 {
	padding: 0px;
}
.vc_col-sm-6 {
	padding:0px;
}
.vc_col-sm-4.menu.wpb_column.vc_column_container {
    height: 344px;
}
.vc_col-sm-6.portofcall.wpb_column.vc_column_container {
	height: 565px;
}
.vc_col-sm-3.portofcall.wpb_column.vc_column_container {
    height: 565px;
}
.vc_col-sm-3.spirit.wpb_column.vc_column_container{
    height: 565px;
}
#content h6 {
    padding-bottom: 0px;
    margin: 0px;
}

.spirit {
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}
.vc_col-sm-4.takeaway.wpb_column.vc_column_container {
    margin-bottom: -35px;
		padding-right: 0px;
    padding-left: 0px;
}
.wpb_text_column.wpb_content_element .wpb_wrapper {
    padding-top: 10px;
}
.page-id-6 .wpb_wrapper {
    padding-top: 20px;
}
.happy {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}
.brunch {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.takeaway {
	border-top: 2px solid;
}
.menu {
	border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}
.vc_col-sm-6.portofcall.wpb_column.vc_column_container {
		border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.portofcall {
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-top: 2px solid;
	padding-left: 0px;
}
.portofcall .wpb_wrapper {
    width: 102%;
}
.vc_col-sm-2 {
padding-right: 0px !important;
}
.footertime {
    float: right;
    font-family: "American Typewriter";
    font-size: 13px;
}
.footertitle {
    font-size: 17px;
    float: left;
}
.footerlink {
    font-family: 'Arial';
    font-size: 10px;
}
footer .textwidget .row{
	font-family: 'American Typewriter';
}
a#eventButton {
    font-size: 15px;
		font-family: 'American Typewriter';
}
h6 a#eventButton {
    font-family: Truenorth;
    cursor: pointer;
}
.column.middle {
    margin: 2px;
}
.page-id-12 strong {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 15px;
}
.page-id-12 p {
    font-size: 10px;
}
.otw-input-wrap {
    margin: 8% 0 8% !important;
}
.powered-by-open-table {
    display: none;
}
.column.middle {
margin-top: -10%;
}
#content  {
  padding-bottom: 0px;
}
#container {
    width: 95%;
    margin: 0 auto;
}
ul.root.l_tinynav1 {
	padding-left: 2%;
}
#siren {
  font-family:'American Typewriter' !important;
}
.middlenoshow {
  color: transparent;
}
.middle {
  margin-top: -4%;
}
.pixgridder a {
color: #000000;
}
.pixgridder .column {
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0% !important;
  margin-bottom: 0% !important;
  padding-top: 4%;
}
#site-generator .copyright {
    float: left;
    font-size: 12px;
    padding-left: 6%;
    padding-top: 5px;
}

#site-generator {
    border: none;
    color: inherit;
    padding: 5px 0;
}

body.home .widget {
	padding: 22px 4.5%;
}

body.custom-background {
  padding-top: 6% !important;
  background-image: url(/wp-content/uploads/2016/01/fishinabarrel_lite.jpg);
background-size: cover !important;
    background-repeat: no-repeat;
}

.content-container, #branding {
 background-color: rgba(255, 255, 255, 0.7);
}

/* =Menu
--------------------------------------------------------------*/
#main-nav {
    border: 2px solid #000;
	cursor: pointer;
	background: transparent;
	position: relative;
	width: 85%;
    margin: 0 auto;
    display: table;
    color: #000;
    background-color: transparent;
    text-align: center;
}
#main-nav a {
	display: block;
	float: left;
	font-size: 20px;	    
	padding: 0px;
    width: 100%;
    height: 32px;
    color: #000;
    text-align: center;
}
#main-nav li {
	float: none;
	display: inline-block;
    color: #000;
    font-size: 20px;
    padding: 2% 2.5% 1%;
}

#main-nav a:hover,
#main-nav ul li.current_page_ancestor a,
#main-nav ul li.current-menu-ancestor a,
#main-nav ul li.current_page_item a,
#main-nav ul li:hover > a {
    background: transparent;
    box-shadow: none;    
    color: #c9a978 !important;
}
}

#main-nav ul li ul li a,
#main-nav ul li.current-menu-item ul li a,
#main-nav ul li ul li.current-menu-item a,
#main-nav ul li.current_page_ancestor ul li a,
#main-nav ul li.current-menu-ancestor ul li a,
#main-nav ul li.current_page_item ul li a {
    background: transparent;
}

#main-nav ul li.current_page_item ul li a {
	background: transparent;
}

#main-nav .default-menu{
	display: none;
}
#social-icons-section {
    display: table;
    margin: 0 auto;
    text-align: center;
}
#social-icons-section.hgroup-wrap {
    padding-bottom: 0;
}
.social-icons ul{
	float: none;
}
#social-icons-section .social-icons ul li a {
	content: "";
    height: 1.5em;
    width: 1.5em;
}
#social-icons-section .social-icons ul li a::before{
	content: "";
}
#social-icons-section .social-icons ul li a:hover {
    opacity: 0.5;
}
#social-icons-section .social-icons ul li.facebook a {
    background: url('images/facebook.png') no-repeat center / 1.5em;
}
#social-icons-section .social-icons ul li.twitter a {
    background: url('images/twitter.png') no-repeat center / 1.5em;
}
#social-icons-section .social-icons ul li.instagram a {
    background: url('images/instagram.png') no-repeat center / 1.5em;
}
.wrapper {
 background-color: transparent !important;
}
body > .wrapper{
	width: 68%;
	max-width: 880px;
}
/* Single Page */
.single .entry-header {
    display: block;
}
.single nav, .single .entry-meta-bar {
    display: none;
}
.single #main {
    padding-top: 0;
}
.single .entry-title {
    display: table;
    font-family: Truenorth;
    margin: 0 auto;
}
.single #branding .hgroup-wrap {
    padding-bottom: 0;
}

#primary {
  width: 100%;
}
#comments {
  display: none;
}

article {
	font-size: 1em;
}

.widget, article {
  background: transparent !important;
  box-shadow: none;
}
#messagearea .widget-title {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
}

#messagearea p {
	font-size: 0.9em;
}

.extra-heading {
    width: 45%;
    margin: 0 auto;
    display: block;
    margin-bottom: 2em;
}
#site-logo {
    float: none;
    margin-top: -8.5%;
    padding-left: 27%;
}
.widget-container {
    margin-bottom: 10px;
}
#site-title a img {
    max-width: 65%;
}
#map {
	clear: right;
}
#footerarea .widget-title {
    font-size: 20px;
}
#footerarea .widget-area {
  padding: 20px 0;
  border-bottom: solid #c9a978;
}
#footerarea .col-3 #text-3 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#footerarea .col-3{
    float: left;
    height: 18em;
    margin: 0;
    min-width: 170px;
    width: 33.3333%;
}

.bold-footer-link{
	font-size: 20px;
	font-family: 'Truenorth';
}
#coordinates-row {
    height: 3em;
}
header.entry-header {
  display: none;
}

.main-content {
    margin-top: 20px;
}

/* Social Media Icons (About, Press/Media, Group Events) */
.page-id-10 #content #social-icons-section ul,
.page-id-744 #content #social-icons-section ul,
.page-id-727 #content #social-icons-section ul {
	list-style: outside none none;
	margin: 0;
}

.page-id-10 #content #social-icons-section,
.page-id-744 #content #social-icons-section,
.page-id-727 #content #social-icons-section {
    bottom: 3px;
    display: inline-block;
    left: 13em;
    padding-top: 0;
    position: absolute;
    vertical-align: bottom;
    width: 6em;
}

.page-id-10 #content #social-icons-section .social-icons ul li a,
.page-id-744 #content #social-icons-section .social-icons ul li a,
.page-id-727 #content #social-icons-section .social-icons ul li a {
    height: 1em;
    width: 1em;
}

.page-id-10 #content #social-icons-section .social-icons ul li,
.page-id-744 #content #social-icons-section .social-icons ul li,
.page-id-727 #content #social-icons-section .social-icons ul li {
    padding-right: 4px;
    margin-top: 0;
}

.page-id-10 .wpb_single_image .vc_single_image-wrapper,
.page-id-744 .wpb_single_image .vc_single_image-wrapper,
.page-id-727 .wpb_single_image .vc_single_image-wrapper{
	position: relative;
}

/* Home */
.page-id-2 #messagearea .textwidget {
    display: none;
}

.page-id-2 #messagearea #pledge-link:hover {
	font-weight: bold;
}

/* About */
.page-id-10 #content #social-icons-section ul {
	list-style: outside none none;
	margin: 0;
}

.page-id-10 #content #social-icons-section {
    display: inline-block;
    left: 13em;
    padding-top: 0;
    position: absolute;
    vertical-align: bottom;
    width: 6em;
}

.page-id-10 #content #social-icons-section .social-icons ul li a {
    height: 1em;
    width: 1em;
}

.page-id-10 #content #social-icons-section .social-icons ul li {
    padding-right: 4px;
    margin-top: 0;
}

.page-id-10 .wpb_single_image .vc_single_image-wrapper{
	position: relative;
}

/* Group Events */
.page-id-727 .entry-content p{
	margin-bottom: 1em;
}

#tripleseat_embed_form td, #tripleseat_embed_form tbody, #tripleseat_embed_form table {
    background-color: transparent;
}

@media screen and (max-width: 767px) {
	.page-id-10 #content #social-icons-section{
		display: block;
		position: relative;
    	top: 0.5em;
    	left: 0;
	}	
}

/* Press/Media */
.page-id-744 .entry-content p {
    margin-bottom: 1em;
}
.page-id-744 #image-row .image-container {
    display: inline-block;
    width: 25%;
    text-align: center;
}
.page-id-744 #media-container {
    text-align: center;
    font-weight: bold;
}
.page-id-744 #media-container .row{
	margin-bottom: 1em;
}
.page-id-744 #media-container .plain-text{
	font-family: "American Typewriter",​ monospace;
	font-weight: normal;
}	

/*   27in Mac  */
@media screen and (min-width: 2000px) {
	.stamp {
	    margin-top: -4%;
	    padding-left: 63%;
	    width: 6%;
	}
	.sirenimg {
		width: 30% !important;
		padding-right:15%;
	}
	ul.root.l_tinynav1 {
		padding-left: 3.5%;
	}
	#site-logo {
	    float: none;
	    margin-top: -5%;
	    padding-left: 32%;
	}
	#main-nav {
		width: 94% !important;
		    margin-left: 3% !important;;
	    color:#000 !important;
	    background-color: transparent;
	}
	.india{
		padding-top: 12%;
	}
	.china{
		padding-top: 7%;
	}
	.pacific{
		padding-top: 9%;
	}
}